<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>本の一覧</title>
</head>
<body>
<h1>本の一覧</h1>

<a th:href="@{/books/new}">新規登録</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>著者</th>
        <th>価格</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
    </tr>
</table>
</body>
</html>